Source: libmali-sunxi
Priority: optional
Maintainer: Kamil Trzcinski <ayufan@ayufan.eu>
Build-Depends:
    debhelper (>= 9),
    dpkg-cross,
    cmake,
    dh-exec,
    libdrm2,
    libx11-6,
    libx11-xcb1,
    libxcb1,
    libxcb-dri2-0,
    libxfixes3,
    libxext6,
    libxdamage1,
Standards-Version: 3.9.5
Section: libs

Package: libmali-sunxi-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}
Multi-Arch: same
Provides: libgbm-dev, libegl1-mesa-dev, libgles2-mesa-dev
Replaces: libgbm-dev, libegl1-mesa-dev, libgles2-mesa-dev
Description: The mali library for Allwinner A64.
 .
 This package provides the development environment for compiling programs
 against the Mali library.

Package: libmali-sunxi-utgard0-r6p0
Architecture: arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Provides: libegl1-mesa, libegl1, libgles2-mesa, libgbm1, libwayland-egl1-mesa, libmali-sunxi
Replaces: libegl1-mesa, libegl1-x11, libgles2-mesa, libgbm1
Description: The Mali library for Allwinner A64 serial.
